<div>
  <h1>Filter Orders</h1>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Fulfilled">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab One</h1>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Select</th>
                <th scope="col">Pickrr ID</th>
                <th scope="col">Placed Date</th>
                <th scope="col">Tracking ID</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in data.porders">
                <th scope="row">
                  <md-checkbox ng-model="active.value" aria-label="Checkbox 1">
                  </md-checkbox>
                </th>
                <td>{{order.shopify_order_id}}</td>
                <td>{{order.created_at}}</td>
                <td>{{order.tracking_number}}</td>
                <td>
                  <md-button
                    class="md-raised"
                    ng-href="{{order.tracking_url}}"
                    target="_blank"
                  >
                    Track
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </md-content>
      </md-tab>
      <md-tab label="Not Fulfilled">
        <md-content class="md-padding">
          <div class="container" ng-if="orderList.length > 0">
            <div class="row">
              <div class="col-sm">
                <div class="dropdown">
                  <button
                    class="btn btn-light dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Select Account
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item" href="#">Account 1</a>
                    <a class="dropdown-item" href="#">Account 2</a>
                    <a class="dropdown-item" href="#">Account 3</a>
                  </div>
                </div>
              </div>
              <div class="col-sm mt-2">
                <md-checkbox aria-label="Checkbox 1">
                  Surface
                </md-checkbox>
              </div>
              <div class="col-sm mt-2">
                <md-checkbox aria-label="Checkbox 1">
                  NDD
                </md-checkbox>
              </div>
              <div class="col-sm mt-2">
                <md-checkbox aria-label="Checkbox 1">
                  DG
                </md-checkbox>
              </div>
              <div class="col-sm text-right">
                <md-button
                  class="md-raised mt-1 mb-3 mr-3 text-right"
                  target="_blank"
                >
                  Place Order
                </md-button>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Select</th>
                <th scope="col">Name</th>
                <th scope="col">Order ID</th>
                <th scope="col">Quantity</th>
                <th scope="col">Destination</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in data.uorders">
                <th scope="row">
                  <md-checkbox
                    ng-model="active.value"
                    aria-label="Checkbox 1"
                    ng-change="pushToArray(order, active.value)"
                  >
                  </md-checkbox>
                </th>
                <td>{{order.pickrr_dict.from_name}}</td>
                <td>{{order.pickrr_dict.client_order_id}}</td>
                <td>{{order.pickrr_dict.quantity}}</td>
                <td>{{order.pickrr_dict.to_address}}</td>
                <td>
                  <md-button class="md-raised" target="_blank">
                    Track
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
