<div>
  <h1>Filter Orders</h1>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="NOT PICKED">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab One</h1>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Select</th>
                <th scope="col">Pickrr ID</th>
                <th scope="col">Placed Date</th>
                <th scope="col">Tracking ID</th>
                <th scope="col">Destination</th>
                <th scope="col">Current Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                  </md-checkbox>
                </th>
                <td>#9526696</td>
                <td>07 Feb 2020, 15:23</td>
                <td>#6954751234</td>
                <td>indu ramkr - 400072</td>
                <td>Cancelled</td>
                <td>
                  <md-button class="md-raised">Track</md-button>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                  </md-checkbox>
                </th>
                <td>#9526696</td>
                <td>07 Feb 2020, 15:23</td>
                <td>#6954751234</td>
                <td>indu ramkr - 400072</td>
                <td>Cancelled</td>
                <td>
                  <md-button class="md-raised">Track</md-button>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                  </md-checkbox>
                </th>
                <td>#9526696</td>
                <td>07 Feb 2020, 15:23</td>
                <td>#6954751234</td>
                <td>indu ramkr - 400072</td>
                <td>Cancelled</td>
                <td>
                  <md-button class="md-raised">Track</md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </md-content>
      </md-tab>
      <md-tab label="LIVE">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Two</h1>
          <p>
            Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam,
            at semper massa orci nec magna. Donec posuere nec sapien sed
            laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor
            tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar
            vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero,
            viverra sit amet nisl at, hendrerit tempor turpis. Maecenas
            facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed
            nisl consectetur, rhoncus sapien sit amet, tempus sapien.
          </p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
