<div>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <md-input-container>
            <label>Name</label>
            <input ng-model="modalData.pickrr_dict.from_name" />
          </md-input-container>
          <md-input-container>
            <label>Order ID</label>
            <input ng-model="modalData.pickrr_dict.client_order_id" />
          </md-input-container>
          <md-input-container>
            <label>Quantity</label>
            <input ng-model="modalData.pickrr_dict.quantity" />
          </md-input-container>
          <md-input-container>
            <label>Order Type</label>
            <input ng-model="modalData.pickrr_dict.quantity" />
          </md-input-container>
          <md-input-container>
            <label>Destination</label>
            <input ng-model="modalData.pickrr_dict.to_address" />
          </md-input-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
  <h1>
    Filter Orders
  </h1>
  <div>
    <div class="row">
      <div class="col-sm">
        <md-input-container>
          <label>Search</label>
          <input ng-model="search" />
        </md-input-container>
      </div>
      <div class="col-sm">
        <!-- <md-datepicker
          class="tex-right"
          ng-model="date"
          md-placeholder="Enter date"
        ></md-datepicker> -->
        <input type="date" ng-model="date" ng-change="changeDate(date)" />
        {{date | date:'yyyy-MM-dd'}}
      </div>
    </div>
  </div>

  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <!-- <md-tab label="Fulfilled">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab One</h1>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Select</th>
                <th scope="col">Pickrr ID</th>
                <th scope="col">Placed Date</th>
                <th scope="col">Tracking ID</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in data.porders">
                <th scope="row">
                  <md-checkbox ng-model="active.value" aria-label="Checkbox 1">
                  </md-checkbox>
                </th>
                <td>{{order.shopify_order_id}}</td>
                <td>{{order.created_at}}</td>
                <td>{{order.tracking_number}}</td>
                <td>
                  <md-button
                    class="md-raised"
                    ng-href="{{order.tracking_url}}"
                    target="_blank"
                  >
                    Track
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </md-content>
      </md-tab> -->

      <md-tab label="Not Fulfilled">
        <md-content class="md-padding">
          <div class="container-fluid" ng-if="orderList.length > 0">
            <div class="row">
              <div class="col-sm-3">
                <md-input-container>
                  <label>Select Account</label>
                  <md-select ng-model="account.value">
                    <md-option
                      ng-repeat="order in data.uorders"
                      ng-value="order.pickrr_dict.auth_token"
                    >
                      {{order.pickrr_dict.auth_token}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div class="col-sm-4 mt-2">
                <div class="row">
                  <div class="col">
                    <md-input-container>
                      <label>Email</label>
                      <input ng-model="emailList.value" />
                    </md-input-container>
                  </div>
                  <div class="col">
                    <md-button
                      class="md-raised"
                      ng-click="convertStringToArray()"
                    >
                      Add Email
                    </md-button>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <md-radio-group ng-model="extraFeature.value">
                  <md-radio-button value="Surface">Surface</md-radio-button>
                  <md-radio-button value="NDD"> NDD </md-radio-button>
                  <md-radio-button value="DG">DG</md-radio-button>
                </md-radio-group>
              </div>
              <div class="col-sm-1 text-right">
                <md-button
                  class="md-raised mt-1 mb-3 mr-3 text-right"
                  target="_blank"
                  ng-click="placeOrder()"
                >
                  Place Order
                </md-button>
              </div>
            </div>
          </div>
          <md-content
            ng-if="data.uorders.length === 0"
            flex
            layout-padding
            class="text-center"
          >
            <h2>
              No orders for this date. Please select another date
            </h2>
          </md-content>
          <table
            class="table table-bordered table-hover"
            ng-if="data.uorders.length > 0"
          >
            <thead>
              <tr>
                <th scope="col">Select</th>
                <th scope="col">Name</th>
                <th scope="col">Order ID</th>
                <th scope="col">Quantity</th>
                <th scope="col">Order Type</th>
                <th scope="col">Destination</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                ng-repeat="order in data.uorders | filter: search track by $index"
              >
                <th scope="row">
                  <md-checkbox
                    ng-model="active.value"
                    aria-label="Checkbox 1"
                    ng-change="pushToArray(order.pickrr_dict, active.value)"
                  >
                  </md-checkbox>
                </th>
                <td>{{order.pickrr_dict.from_name}}</td>
                <td>{{order.pickrr_dict.client_order_id}}</td>
                <td>{{order.pickrr_dict.quantity}}</td>
                <td>
                  <span ng-if="order.pickrr_dict.cod_amount === 0">
                    Prepaid
                  </span>
                  <span ng-if="order.pickrr_dict.cod_amount < 0">
                    COD
                  </span>
                </td>
                <td>{{order.pickrr_dict.to_address}}</td>
                <td>
                  <md-button
                    class="md-raised md-primary"
                    ng-click="showPrompt(order)"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    Edit
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
